
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 11% 10%;
    --foreground: 285 10% 96%;
    --card: 285 14% 14%;
    --card-foreground: 285 10% 96%;
    --popover: 285 14% 14%;
    --popover-foreground: 285 10% 96%;
    --primary: 261 44% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 285 14% 17%;
    --secondary-foreground: 285 10% 96%;
    --muted: 285 14% 20%;
    --muted-foreground: 285 10% 62%;
    --accent: 249 88% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 14% 22%;
    --input: 285 14% 22%;
    --ring: 249 88% 58%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-gradient {
  background: linear-gradient(135deg, #5538F2 0%, #442C70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-fade-bottom {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
